#header {
    background-color: white;
}

.Logo-png {
    vertical-align: middle;
}

.testo_header {
vertical-align: middle;
font-size: 2rem;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}