/* Stile Header */

#header {
    background-color: white;
    margin: -10px;
    padding: 10px;
    padding-left: 15px;
}

.Logo-png {
    vertical-align: middle;
}

.testo_header {
vertical-align: middle;
font-size: 2rem;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Fine stile Header*/

/*Stile body*/

body{
    background-color: #f6f8f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: blue;
    margin-left: 20%;
    margin-right: 20%;
    max-width: 600px;
    
    
}

#bottoni {
display: block;

}

#Add-Task {
    border-radius: 10%;
    margin-left: 35px;
    vertical-align: middle;
}

#Add-Section {
    border-radius: 10%;
    margin-top: 10px;
}

.fatto {
    background-color: white;
    border-style: solid;
    margin: 2px;
    border-color: green;
    border-radius: 50%;
    color: green;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    border-width: 1px;
}

.da-fare {
    background-color: white;
    border-style: solid;
    margin: 2px;
    border-color: red;
    border-radius: 50%;
    color: red;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    border-width: 1px;
}
/*Fine stile body*/